.activity {
    padding-top: 0px;
}

.activity-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 50px;
}

.activity-list {
    position: relative;
}

.activity-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title);
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}