footer {
  text-align: center;
  background-color: #2f303a;
  padding: 60px 0;
  @media screen and (min-width: 769px) {
    min-width: 1200px;
    max-width: 1600px;
    margin: auto;
  }
}

.logo-footer {
  margin-right: 0px;
}

.address {
  margin-top: 20px;
}

.address__item--mail {
  margin-top: 9px;
}

.address__item--phone {
  margin-top: 9px;
}

.logo--accent-second {
  color: #ffffff;
}

.address__item {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  background: #2f303a;
}

.address__link-light {
  color: var(--second-title);
}

.address__link-dark {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-list__title {
  @include font(14px, 700, 16.41px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title);
  margin-top: 0%;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-footer--riht {
  margin-left: 70px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-list__link {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--second-title);
  transition: background-color var(--transition-duration)
    var(--transition-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icom {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .container-footer {
    display: block;
    text-align: center;
  }
  .container-footer--riht {
    margin: 0;
  }
  .address__item--mail {
    margin-top: 8px;
  }
  .address__item--phone {
    margin-top: 8px;
  }
  .container-footer--riht {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: block;
  }
  .container-footer__table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .container-footer--left {
    margin-left: 76px;
    text-align: center;
  }
  // .logo-footer {
  //   text-align: center;
  // }
  .container-footer--riht {
    margin-left: 0;
    margin-right: 89px;
  }
  .footer-form-text {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  .container-footer {
    display: flex;
    align-items: baseline;
  }
  .container-footer__table {
    margin: 0;
  }
  .container-footer--left {
    margin-left: 0;
    margin-right: 60px;
  }
  .address {
    text-align: left;
  }
}
