@media screen and (max-width: 767px) {
  .site-list {
    display: none;
  }
  .contact {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}

.top-header {
  background-color: var(--background-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid var(--border-color);
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

.logo--accent {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .site-list {
    display: flex;
    align-items: center;
    margin-left: 87px;
  }

  .contact__table {
    display: block;
    @media screen and (min-width: 769px) and (max-width: 1600px) {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  .top-header {
    background-color: var(--background-color);
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .logo {
    margin-right: 87px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #000000;
  }

  .site-item:not(:last-child) {
    margin-right: 50px;
  }

  .site-link {
    position: relative;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color var(--transition-duration) var(--transition-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .site-link.current::before {
    content: "";
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    position: absolute;
    width: 100%;
    bottom: -28px;
  }

  .current {
    color: var(--accent-color);
  }

  .contact-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--transition-duration) var(--transition-function);
    margin-right: 30px;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contact-item-phone {
    margin-top: 10px;
    @media screen and (min-width: 769px) and (max-width: 1600px) {
      display: flex;
      margin-top: 0;
      align-items: center;
      justify-content: space-between;
    }
  }

  .icon-envelope {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 8px;
  }

  .icon-smartphone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .top-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .contact {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.17;
  }

  .site-item:not(:last-child) {
    margin-right: 40px;
  }

  .site-link {
    line-height: 1.14;
  }

  .contact-link {
    font-size: 14px;
  }

  .contact-link-mail {
    margin-right: 30px;
    margin-left: 10px;
  }

  .contact-item-phone {
    margin-left: 10px;
    margin-top: 0;
  }

  .icon-envelope {
    margin-right: 10px;
  }

  .icon-smartphone {
    margin-right: 10px;
  }
}
