.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.nav {
  display: flex;
  align-items: center;
}

.site-list {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
}

.top-header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo--accent {
  color: var(--accent-color);
}

.site-item:not(:last-child) {
  margin-right: 40px;
}

.site-link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color var(--transition-duration) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-link.current::before {
  content: "";
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  position: absolute;
  width: 100%;
  bottom: -32px;
}

.current {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition-duration) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-link-mail {
  margin-right: 30px;
  margin-left: 10px;
}

.contact-item-phone {
  margin-left: 10px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
