:root {
    --primary-font: "Roboto", sans-serif;
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --second-title: #ffffff;
    --border-color: #ececec;
    --properties-color: E5E5E5;
    --team-color: #f5f4fa;
    --buttom-color: #f5f4fa;
    --color-link-icom: #afb1b8;
    --backround-second-color: #2f303a;
    --transition-duration: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}